@import './tokens/color.css';
@import './tokens/typography.css';

@theme {
  --custom-max-width: 60rem;
}

@layer base {
  html {
    font-size: 62.5%;
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
  }
  * {
    box-sizing: border-box;
  }
  #root {
    background-color: var(--color-gray-100);
  }
  main {
    background-color: var(--color-gray-900);
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.04);
    max-width: var(--custom-max-width);
    margin: 0 auto;
    min-height: 100dvh;
  }
}

@layer utilities {
}
