@layer utilities {
  .border-gradient-1 {
    position: relative;
    border-radius: 0.4rem;
    background: var(--color-gray-900);
    background-clip: padding-box;
  }

  .border-gradient-1::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0.4rem;
    padding: 1px;
    background: linear-gradient(97deg, #ad86ff -6.84%, #1a1a1a 121.28%);
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
  }
}
